 *{
  /* box-sizing: border-box; */
  display: flexbox;
}
.openBtn {
  display: flex;
  /* justify-content: left; */
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  padding: 10px;
 
  /* position: fixed; */
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
 
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}
.card-header{
 /* background-color: #ff5b5b;
  */
  display: flex;
  height: 60px;
  justify-content: center;

  background-color: #fff8ab;
  
}
#head{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}
.custom-bg {
  background-color: #fffde6; /* Replace with your desired color */
}

.card-footer{
  background-color: #fff8ab;
}

.benific{
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 20px;
  padding: 15px;
}

#mainn{
  display: flex;
}
#sup{
 
  margin-left: 600px;
}
#lup{
  padding-left: 30px;

}

#view{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#vacview{
  height:250px;
   width:250px;
   padding: 15px;
   margin: 15px;
   background-color: #e8ffd0;
}